.UserData {
  margin: 0 auto;
}

.UserData td,
.UserData th {
  padding: 8px 16px;
}

.UserData .UserDataProperty {
  font-size: 12px;
}

.UserData .UserDataValue {
  font-size: 14px;
  font-weight: bold;
}